@charset "UTF-8";
body {
    background-color: rgb(223, 205, 242);
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: blueviolet;
}
h1#principal{
    text-align: center;
}
h2{
    color: #8419e8;
}
.basico {
    color:#ff2f2f;
}
.intermediario {
    color: #fffc2f;
}
.avançado {
    color: #8feb06;
}